html, body {
    background-color: #5c1919;
    color: aliceblue;
    margin: 0px;
    padding: 4px;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 0f95588d0fc7d6eceee411ed2270815d05333c60
}