html, body {
    background-color: #5c1919;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0px;
    padding: 40px;
    width: 40px;
    height: 100vh;
}
footer {
    background-color: #3b0404;
    color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 4px;
}